<section id="about" class="lg:w-2/5 w-full min-h-[50vh] flex items-center justify-center px-5 lg:px-0">
    <p class="text-lg text-gray-800 text-center font-extralight">
        Nos dedicamos a la fabricación de artículos de hule y plástico desde hace más de 30 años. Con integridad, innovación y profesionalismo, producimos todo suelas y láminas para el calzado industrial, casual y deportivo además de loderas, empaques, tapetes y otros productos.
    </p>
</section>
