<footer
    aria-label="Site Footer"
    class="w-full bottom-0 left-0 lg:grid lg:grid-cols-5 bg-black"
    id="contact"
>
    <div class="relative block h-32 lg:col-span-2 lg:h-full">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14938.984776966623!2d-103.4255617!3d20.59842!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe43719df1ee8b3aa!2sTransformadora%20de%20Hules%20y%20Pl%C3%A1sticos!5e0!3m2!1ses!2smx!4v1670532997938!5m2!1ses!2smx"
            style="border:0;"
            width="100%"
            height="100%"
            allowfullscreen=""
            loading="lazy"
            title="Location"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="px-4 py-16 sm:px-6 lg:col-span-3 lg:px-8 text-white">
        <div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
            <div>
                <p>
                    <span class="text-2xl tracking-[0.2em] uppercase">
                        ¡Contáctanos!
                    </span>

                    <p
                        class="block text-2xl font-medium hover:opacity-75 sm:text-3xl"
                    >
                        +52 (33) 36842909
                    </p>
                    <p
                        class="block text-2xl font-medium hover:opacity-75 sm:text-3xl"
                    >
                        +52 (33) 36843037
                    </p>
                    <a
                        href="mailto: info@thp.com.mx"
                        rel="noreferrer"
                        target="_blank"
                        class="block text-2xl font-medium hover:opacity-75 sm:text-3xl"
                    >
                        info@thp.com.mx
                    </a>
                </p>

                <ul class="mt-8 space-y-1 text-sm text-gray-300">
                    <li>Lunes a sábados: 7am - 3pm</li>
                    <li>Las Flores 1643 Col. La Florida</li>
                    <li>45234 Zapopan, Jalisco</li>
                </ul>

                <ul class="flex gap-6 mt-8">
                    <li>
                        <a
                            href="https://www.facebook.com/THPJalMex"
                            rel="noreferrer"
                            target="_blank"
                            class="text-gray-700 transition hover:text-[#3b5998]"
                        >
                            <span class="sr-only">Facebook</span>

                            <svg
                                class="w-12 h-12"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                                aria-hidden="true"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="flex items-center justify-center">
                <div
                    class="flex items-center justify-center w-96 h-96 rounded-full bg-white"
                >
                    <img src="/thp_logo.png" alt="logo" />
                </div>
            </div>
        </div>
    </div>
</footer>
