<section id="why" class="w-screen min-h-screen bg-black flex justify-center">
    <div class="max-w-7xl flex flex-col items-center py-16 px-4">
        <div
            class="my-5 w-full flex flex-col xl:flex-row xl:justify-between justify-center items-center xl:items-center gap-2"
        >
            <h2
                class="block xl:hidden text-xl md:text-2xl font-extrabold text-white tracking-wide text-left py-5 w-full uppercase"
            >
                Confiabilidad
            </h2>
            <img
                src="/planta.jpg"
                alt="Planta de laminado de hule Transformadora de Hules y Plasticos"
                loading="lazy"
                class="w-5/6 xl:w-2/3 max-w-xl rounded-lg"
            />
            <div
                class="hidden w-full h-full xl:flex xl:flex-col text-white xl:max-w-[40%] text-left py-5 justify-center"
            >
                <h2 class="text-3xl font-extrabold tracking-wider uppercase">
                    Confiabilidad
                </h2>
                <p>
                    Somos una empresa que entiende su permanencia en el mercado
                    como resultado del trabajo diario basado en el respeto hacia
                    el cliente y hacia el producto.
                </p>
            </div>
        </div>
        <div
            class="my-5 w-full flex flex-col xl:flex-row xl:justify-between justify-center items-center xl:items-center gap-2"
        >
            <h2
                class="block xl:hidden text-xl md:text-2xl font-extrabold text-white tracking-wide text-left py-5 w-full uppercase"
            >
                Calidad
            </h2>
            <div
                class="hidden w-full h-full xl:flex xl:flex-col text-white xl:max-w-[40%] text-left py-5 justify-center"
            >
                <h2 class="text-3xl font-extrabold tracking-wider uppercase">
                    Calidad
                </h2>
                <p>
                    Proporcionamos productos que responden a las cacterísticas
                    específicas del mercado al que pertenecen.
                </p>
            </div>
            <img
                src="/suela.jpg"
                alt="Suela de hule para zapato de futbol"
                loading="lazy"
                class="w-5/6 xl:w-2/3 max-w-xl rounded-lg"
            />
        </div>
        <div
            class="my-5 w-full flex flex-col xl:flex-row xl:justify-between justify-center items-center xl:items-center gap-2"
        >
            <h2
                class="block xl:hidden text-xl md:text-2xl font-extrabold text-white tracking-wide text-left py-5 w-full uppercase"
            >
                Servicio
            </h2>
            <img
                src="/suelas.jpg"
                alt="Laminas de hule polibutadieno estireno de colores"
                loading="lazy"
                class="w-5/6 xl:w-2/3 max-w-xl rounded-lg"
            />
            <div
                class="hidden w-full h-full xl:flex xl:flex-col text-white xl:max-w-[40%] text-left py-5 justify-center"
            >
                <h2 class="text-3xl font-extrabold tracking-wider uppercase">
                    Servicio
                </h2>
                <p>
                    Atendemos a nuestros clientes de manera directa y
                    personalizada.
                </p>
            </div>
        </div>
        <div
            class="my-5 w-full flex flex-col xl:flex-row xl:justify-between justify-center items-center xl:items-center gap-2"
        >
            <h2
                class="block xl:hidden text-xl md:text-2xl font-extrabold text-white tracking-wide text-left py-5 w-full uppercase"
            >
                Desarrollos a la medida
            </h2>
            <div
                class="hidden w-full h-full xl:flex xl:flex-col text-white xl:max-w-[40%] text-left py-5 justify-center"
            >
                <h2 class="text-3xl font-extrabold tracking-wider uppercase">
                    Desarrollos a la medida
                </h2>
                <p>
                    Asesoramos a nuestros clientes para desarrollar productos
                    innovadores y así tener un mayor impacto en sus ventas.
                </p>
            </div>
            <img
                src="/laminas.jpg"
                alt="Laminas de hule polibutadieno estireno de colores"
                loading="lazy"
                class="w-5/6 xl:w-2/3 max-w-xl rounded-lg"
            />
        </div>
    </div>
</section>
